.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/proxizy')
        i.fa.fa-cube
        | Proxizy
    .collapse.navbar-collapse
      if (title != 'Login' && title != 'Create Account' && title != 'Account Management' && title != 'Proxy error')
        ul.nav.navbar-nav
          li(class=(title == 'Home') ? 'active' : undefined)
            a(href='/proxizy') Home
          li(class=(title == 'Apps') ? 'active' : undefined)
            a(href='/proxizy/apps') Apps
          li(class=(title == 'Users') ? 'active' : undefined)
            a(href='/proxizy/users') Users
      ul.nav.navbar-nav.navbar-right
        if (!user)
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/proxizy/login') Login
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span= user.email || user._id
              i.caret
            ul.dropdown-menu
              li
                a(href='/proxizy/account') My Account
              li.divider
              li
                a(href='/proxizy/logout') Logout
