extends layout

block content
  h1 Proxizy
  p.lead A easy reverse proxy with embedded authentication.
  hr
  .row
    .col-sm-6
      h2 Proxy pass
      p Reverse proxy any url (by domain and/or relative url)
    .col-sm-6
      h2 Embedded authentication
      p Create users and give them access to your proxified apps. Users and apps are saved in internal NoSQL database (NedDB)
    .col-sm-6
      h2 Web UI
      p Configure your reverse proxy using the build-in Web interface